<div>
  <h3><%= comment.user.first_name + " " + comment.user.last_name%></h3>
  
  <% if comment.body.present? %>
    <p><%= simple_format(comment.body) %></p>
  <% end %>
  
  <% if comment.image.attached? %>
    <%= image_tag comment.image.variant(resize_to_limit: [150, 150]) %>
  <% end %>

</div>