<div>
  <h1><%= @post.user.first_name + " " + @post.user.last_name%></h1>
  
  <% if @post.body.present? %>
    <p><%= simple_format(@post.body) %></p>
  <% end %>
  
  <% if @post.image.present? %>
    <%= image_tag(@post.image)%>
  <% end %>
</div>

